.child {
    height: 330px;
    background: coral;
    margin: 5px solid black;
    border-radius: 5px;
    width: 50%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.parent {
    height: 500px;
    background: rgb(64, 238, 215);
    margin: 15px dashed black;
    border-radius: 5px;
    width: 80%;
    border-style: dotted;
    border-color: burlywood;
    display: inline-block;
    justify-content: center;
    align-items: center;
}